<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  <h4>gender</h4>
    <mat-radio-group formControlName="gender">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
    <h4>Vaccinated / Not</h4>
    <mat-radio-group formControlName="vaccinated">
      <mat-radio-button  value="yes">Yes</mat-radio-button>
      <mat-radio-button value="no">No</mat-radio-button>
    </mat-radio-group>
    <h4>Copleted date</h4>
    <mat-radio-group formControlName="complete_date">
      <mat-radio-button value="yes">Yes</mat-radio-button>
      <mat-radio-button value="no">No</mat-radio-button>
    </mat-radio-group>
  
    <mat-form-field>
      <input matInput [matDatepicker]="dobPicker" placeholder="Date of Birth" formControlName="dob">
      <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>