<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Add Your Child</h1>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <div>
  <h4>Gender</h4>
    <mat-radio-group formControlName="gender">
      <mat-radio-button value="male">Male</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
    <mat-form-field style="margin-top: 15px;">
      <input matInput [matDatepicker]="dobPicker" [max]="maxDate" placeholder="Date of Birth" formControlName="dob">
      <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
    </mat-form-field>
    
  
  
  </div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>