<p>Book Vaccination Appoinment</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Child Name" formControlName="childName">
    </mat-form-field>
    
    
    <mat-form-field>
      <mat-label>Select Hospital</mat-label>
      <mat-select [(value)]="selectedHospital" formControlName="hospitalName">
        <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
          {{ hospital.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Vaccine</mat-label>
      <mat-select [(value)]="selectedVaccine" formControlName="vaccineName">
        <mat-option *ngFor="let vaccines of vaccines" [value]="vaccines.vaccineId">
          {{ vaccines.vaccineName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput [matDatepicker]="dobPicker" placeholder="Choose date for Vaccination" formControlName="vaccinationDate">
      <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>