<!-- <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>{{receivedCardType?.toUpperCase()}}  Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Username/PhoneNumber</mat-label>
          <input matInput placeholder="Enter your username / Phone number" formControlName="phoneNumber"/>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password"/>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" >Login</button>
       
      </form>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button  mat-button color="accent" type="button" (click)="openConfirmationDialog()">New User</button>

    </mat-card-content>
  </mat-card>  -->
  <div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center align-items-center h-100">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/logo.png" [style.width.px]="150" alt="logo"/> 
            <h1>Kido Health</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="form-group" >
                        <input
                            [placeholder]="'User Name' | translate"
                            class="form-control input-underline input-lg"
                            type="text"
                            formControlName="phoneNumber"
                        />
                    </div>

                    <div class="form-group" >
                        <input
                            [placeholder]="'Password' | translate"
                            class="form-control input-underline input-lg"
                            type="password"
                            formControlName="password"
                        />
                    </div>
                </div>
                <button  class="btn rounded-btn">
                    Log in
                </button>
                &nbsp;
                <div>
                  <button  mat-button color="#FFF" type="button" (click)="openConfirmationDialog()" *ngIf="showRegister">Register Now</button>
                </div>

            </form>
        </div>

    </div>
</div>
