<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>{{receivedCardType?.toUpperCase()}}  Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Username/PhoneNumber</mat-label>
          <input matInput placeholder="Enter your username / Phone number" formControlName="phoneNumber"/>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password"/>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" >Login</button>
       
      </form>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button  mat-button color="accent" type="button" (click)="openConfirmationDialog()">New User</button>

    </mat-card-content>
  </mat-card>