@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&amp;display=swap");


body {
  padding: 20px;
  overflow: hidden;
}

table {
  width: 100%;
}
.mat-button {
  background-color: grey;
  color: white; /* Set the text color to white for better visibility */
}
