@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&amp;display=swap");


.card-header:first-child {
  .body{
    background-color: rgb(178, 234, 224);
  }
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
    }
    .card-header {
    position: relative;
    padding: 2rem 2rem;
    border-bottom: none;
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    z-index: 2;
    }
    .row-content:hover {
      background-color: rgb(238, 245, 247); /* Change this to your desired hover effect */
      /* Add any other styling for hover effect */
    }
    .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 1rem;
    }
    .center-box {
      position:fixed;
    top: 10%;
    left: 18%;
    right: 5%;
    /* height:18em; */  
   
      }
    .bg-gray-100 {
    background-color: #f8f9fa !important;
    }
    body{
    font-family: 'Poppins'!important;
    }
    .text-primary {
    color: #4650dd !important;
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    
    font-weight: 700;
    line-height: 1.2;
    }
    .text-muted {
    color: #6c757d !important;
    }
    .lead {
    font-size: 1.125rem;
    font-weight: 300;
    }
    .text-sm {
    font-size: .7875rem !important;
    }
    h3, .h3 {
    font-size: 1.575rem;
    }
    .container1 {
      position: relative;
      display: flex;
      flex-direction: column;
        width: 500px;
        max-width: 500px;
       /* Ensure the container takes up the full height of the viewport */
      }
    .page-holder {
    justify-content: center;
  align-items: center;
    overflow-x: hidden;
    width: 100%; 
     min-height: calc(100vh - 72px);
    
    }
    a {
    color: #4650dd!important;
    text-decoration: underline!important;
    cursor: pointer;
    }

