<div class="center-box">
  <div class="container">
    <div class="row align-items-center">
      <div>
        <div class="card">
          <div class="card-header px-lg-4">
            <div class="row">
              <div
                class="col-md-6"
                style="color: green; font-weight: bold; font-size: 25px"
              >
                Bookings
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="dobPicker"
                    [min]="minDate"
                    placeholder="Choose date for Vaccination"
                    formControlName="vaccinationDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="dobPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #dobPicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div>
              <div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      mat-table
                      [dataSource]="dataSource"
                      class="mat-elevation-z8"
                    >
                      <ng-container matColumnDef="hospital">
                        <th mat-header-cell *matHeaderCellDef>Hospital</th>
                        <td mat-cell *matCellDef="let item">
                          {{ item.hospital.hospitalName }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="child">
                        <th mat-header-cell *matHeaderCellDef>Child</th>
                        <td mat-cell *matCellDef="let item">
                          {{ item.child.childName }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef>Age</th>
                        <td mat-cell *matCellDef="let item">
                          {{ item.child.age }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="vaccine">
                        <th mat-header-cell *matHeaderCellDef>Vaccine</th>
                        <td mat-cell *matCellDef="let item">
                          {{ item.vaccine.vaccineName }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell *matCellDef="let item">
                          {{ item.appointmentDate }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="reminder">
                        <th mat-header-cell *matHeaderCellDef>Reminder</th>
                        <td mat-cell *matCellDef="let item">
                          <button mat-raised-button  (click)="sendReminder(item.child.childId)">Book Appointment</button>
                        </td>
                      </ng-container>

                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns"
                      ></tr>

                      <!-- Data rows -->
                      <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">
              Send reminders on a daily basis.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
