<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Efficient Information Management</h4>
                    <!-- <p>
                        <small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small> -->
                    <!-- </p> -->
                </div>
                <div class="timeline-body">
                    <p>
                       Kidohealth facilitates streamlined management of vaccination records,allowing hospital to
                       efficientlyupdate and access information about child's immunization history.
                    </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Enhanced communication with parents</h4>
                </div>
                <div class="timeline-body">
                    <p>
                    The platform enables secure and direct communication with parents,ensuring that hospital can convey
                    important information about vaccinations and respond to inquiries efficiently.
                    </p>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Improved Collaboration with Parents</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        By providing parents with access to vaccination records and schedules, 
                        healthcare providers can foster a collaborative approach to children's healthcare, 
                        promoting better adherence to immunization recommendations. 
                    </p>
                </div>
            </div>
        </li>
     
        <li>
            <div class="timeline-badge info"><i class="fa fa-save"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Community Health Impact</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        By actively participating in a platform that promotes vaccination management, 
                        healthcare providers contribute to community health efforts,
                         reducing the prevalence of vaccine-preventable diseases.
                    </p>
                    <hr />
                   
                </div>
            </div>
        </li>
             
        
       
    </ul>
</div>
