<div [@routerTransition]>
  <div class="center-box">
    <div class="container">
      <div class="row align-items-center">
        <div>
          <div class="card">
            <div class="card-header px-lg-4 ">
              <div class="row">
                <div class="col-md-6" style="color: green; font-weight: bold; font-size: 25px;">Slot Management</div>
                
              </div>
            </div>
            <div class="card-body ">
              <div>
                <div>
                  <div class="card-body">

                    <div class="table-responsive">

                        <div class="day-time">
                          <label for="monday">Monday:</label>
                          <div>
                            <input placeholder="From" [(ngModel)]="mondayFrom"  >
                            <span> - </span>
                            <input placeholder="To" [(ngModel)]="mondayTo" >
                            <span>      Maximum Slot:</span>
                            <input type="number"  [(ngModel)]="monCount">
                            <button class="update-btn" type="button"   (click)="updateDay('mon')">UPDATE</button>
                          </div>
                        </div>
                    
                        <div class="day-time">
                          <label for="tuesday">Tuesday:</label>
                          <div>
                            <input  placeholder="From" [(ngModel)]="tueFrom">
                            <span> - </span>
                            <input  placeholder="To" [(ngModel)]="tueTo">
                            <span>      Maximum Slot:</span>
                            <input type="number"  [(ngModel)]="tueCount">
                            <button class="update-btn" type="button" (click)="updateDay('tue')">UPDATE</button>
                          </div>
                        </div>
                    
                        <div class="day-time">
                          <label for="wednesday">Wednesday:</label>
                          <div>
                            <input  placeholder="From"  [(ngModel)]="wenFrom">
                            <span> - </span>
                            <input  placeholder="To" [(ngModel)]="wenTo">
                            <span>      Maximum Slot:</span>
                            <input type="number"  [(ngModel)]="wenCount">
                            <button class="update-btn" type="button" (click)="updateDay('wen')">UPDATE</button>
                          </div>
                        </div>
                    
                        <div class="day-time">
                          <label for="thursday">Thursday:</label>
                          <div>
                            <input  placeholder="From"  [(ngModel)]="thuFrom">
                            <span> - </span>
                            <input  placeholder="To" [(ngModel)]="thuTo">
                            <span>      Maximum Slot:</span>
                            <input type="number"  [(ngModel)]="thuCount">
                            <button class="update-btn" type="button" (click)="updateDay('thu')">UPDATE</button>
                          </div>
                        </div>
                    
                        <div class="day-time">
                          <label for="friday">Friday:</label>
                          <div>
                            <input  placeholder="From"  [(ngModel)]="friFrom">
                            <span> - </span>
                            <input  placeholder="To" [(ngModel)]="friTo">
                            <span>      Maximum Slot:</span>
                            <input type="number"  [(ngModel)]="friCount">
                            <button class="update-btn" type="button" (click)="updateDay('fri')">UPDATE</button>
                          </div>
                        </div>
                    
                        <div class="day-time">
                          <label for="saturday">Saturday:</label>
                          <div>
                            <input  placeholder="From"  [(ngModel)]="satFrom">
                            <span> - </span>
                            <input  placeholder="To" [(ngModel)]="satTo">
                            <span>      Maximum Slot:</span>
                            <input type="number"  [(ngModel)]="satCount">
                            <button class="update-btn" type="button" (click)="updateDay('sat')">UPDATE</button>
                          </div>
                        </div>
                    
                        <div class="day-time">
                          <label for="sunday">Sunday:</label>
                          <div>
                            <input  placeholder="From"  [(ngModel)]="sunFrom">
                            <span> - </span>
                            <input  placeholder="To"  [(ngModel)]="sunTo">
                            <span>      Maximum Slot:</span>
                            <input type="number"  [(ngModel)]="sunCount">
                            <button class="update-btn" type="button" (click)="updateDay('sun')">UPDATE</button>
                          </div>
                        </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer px-lg-5 py-lg-4">
              <div class="text-sm text-muted">Update the booking status as per the completion.</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>